.bg1{
    background: url('../../assets/try2.jpg');
    height: 100%;
    width: 100%;
    position: fixed;
    top: 13.25%;
    left: 0;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}


.addForm {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 1000;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.addForm form {
    width: 35rem;
    background: white;
    margin: 0 1rem;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    position: relative;
}

.addForm form h3 {
    font-size: 3rem;
    color: #df7705;
    padding: 1rem 0;
}

.cross {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: #df7705;
}

.cross:hover {
    color: #444;
}

.box{
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
    font-size: 1.6rem;
    text-transform: none;
    
}

.form-control{
    border-color: rgb(118, 117, 117);
    border-width: 0.3rem;
}

.btn {
    padding: .2rem 3rem;
    font-size: 2rem;
    color: white;
    background-color: #df7705;
    border-radius: 3rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.btn:hover {
    background-color: #444;
}
